.contact-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 2rem auto;
  padding: 2rem;
  }

.contact-card {
  flex: 1;
  min-width: 280px;
  max-width: 320px;
  background-color: #f9f9f9;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: translateY(-5px);
}

.contact-card h3 {
  color: coral;
  margin-bottom: 1rem;
}

.contact-card p {
  font-size: 1rem;
  color: #000000;
  margin: 0.5rem 0;
}

.contact-icon {
  font-size: 2rem;
  color: coral;
  margin-bottom: 1rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}





.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-form:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.contact-form input {
  padding: 0.75rem;
  border-radius: 1rem;
  width: 80%;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}


.contact-form input:focus {
  border-color: coral;
  outline: none;
}


.contact-form button {
  width: 35%;
  padding: 0.70rem;
  border-radius: 2rem;
  border: none;
  background-color: coral;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.1rem;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact-form button:hover {
  transform: scale(1.05);
  background-color: darkorange; 
}


.map {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin-top: 2rem;
  margin-bottom: 5rem;
  border-radius: 1.5rem;
  overflow: hidden; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease;
}

.map:hover {
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
}
