


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    margin: 1% 5%;
}

.hero-img { 
    width: 100%;
    height: auto;
    border-radius: 2rem;
}

.description {
    margin-top: 2%;
    text-align: center;
}





.features {
    text-align: center;
    margin: 3% 5%;
}

.feature-icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.feature-item {
    text-align: center;
    flex-basis: 22%;
    padding: 1rem;
}

.feature-item p {
    margin-top: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
}










.menu-highlight {
    text-align: center;
    margin: 3% 5% 0% 5%;
}

.menu-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.menu-item {
    flex-basis: 30%;
    text-align: center;
}

.menu-item img {
    width: 100%;
    border-radius: 1rem;
}

.menu-item h4 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}







.testimonials {
    text-align: center;
    margin: 3% 5% 3% 5%;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.testimonial-item {
    flex-basis: 30%;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-item p {
    margin: 0.5rem 0;
}

.star-icon {
    display: inline-block;
    margin-bottom: 0.5rem;
}










/* responsive */

@media (max-width: 768px) {
    .feature-icons, .menu-cards, .testimonial-cards {
        flex-direction: column;
        gap: 2rem;
    }

    .feature-item, .menu-item, .testimonial-item {
        flex-basis: 100%; 
    }

   
    .menu-highlight {
        margin-bottom: 4%; 
    }

    .testimonials {
        margin-top: 5%; 
    }
}


@media (max-width: 480px) {
    .hero-img {
        border-radius: 1rem;
    }

    .feature-icons, .menu-cards, .testimonial-cards {
        gap: 1.5rem;
    }

    .feature-item p, .menu-item h4, .testimonial-item p {
        font-size: 1rem;
    }
}
