.imgContent{
    position: absolute;
   align-items: center;
   margin-left: 10%;
}

.textContent{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    top:2rem;
    z-index: 999;
}

.textContent>button{
    padding: 1rem;
    width: 13%;
    font-size: 20px;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid rgb(170, 178, 181);
  }
  .textContent>button:hover{
    background-color: coral;
    width: 17%;
    transition: all ease .5s;
    transform: scale(1.1);
  }
